.diskusjon {
  max-width: var(--line-length);
  margin: var(--centered);
}

.diskusjon h1 {
  margin-top: 3rem;
  margin-bottom: 0;
}

.diskusjon ul {
  margin-top: 2rem;
}

.diskusjon ul li {
  font-size: 110%;
  margin-bottom: 1.1rem;
  margin-left: 1.2rem;
}

.diskusjon ul li:before {
  content: "•";
  position: absolute;
  margin-left: -1.2rem;
  color: var(--gray-2);
  font-size: 100%;
}

@media (max-width: 520px) {
  .diskusjon {
    margin-left: var(--mobile-margin);
    margin-right: var(--mobile-margin);
  }
}