body#index {
  background-image: url("../images/DSCF6991.jpeg");
  background-size: cover;
  background-position: 75%; /* de-center swan on mobile */
}

@media (min-width: 520px) {
  body#index {
    background-position: 50%;
  }
}